:root {
  --primary: 255 76 0;
  --primary-light: 255 76 0;
  --primary-dark: 255 76 0;
  --background-light: 255 255 255;
  --background-dark: 33 37 41;
  --gray-50: 250 245 242;
  --gray-100: 245 240 238;
  --gray-200: 230 224 222;
  --gray-300: 213 208 206;
  --gray-400: 166 160 158;
  --gray-500: 119 114 111;
  --gray-600: 87 82 79;
  --gray-700: 70 64 62;
  --gray-800: 45 39 37;
  --gray-900: 30 25 22;
  --gray-950: 17 12 10;
}
